In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import findspark
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("churn.csv")

In [ ]:
# Detailed analysis and data exploration is already performed

In [ ]:
df.head()

In [ ]:
# Check the distribution of the Target variable

In [ ]:
sns.countplot(df['Exited'])

In [ ]:
df['Exited'].value_counts()

In [ ]:
# Baseline accuracy
# Class imbalance

7963/10000

In [ ]:
df.shape

In [ ]:
x = df.iloc[:,2:12]

In [ ]:
y = df['Exited']

In [ ]:
y = mx+c
g(e(y)) = b0+b1*x1+b2*x2

In [ ]:
dummy = pd.get_dummies(df[['Gender','Geography']],drop_first=True)

In [71]:
dummy

      Gender_Male  Geography_Germany  Geography_Spain
0               0                  0                0
1               0                  0                1
2               0                  0                0
3               0                  0                0
4               0                  0                1
5               1                  0                1
6               1                  0                0
7               0                  1                0
8               1                  0                0
9               1                  0                0
10              1                  0                0
11              1                  0                1
12              0                  0                0
13              0                  0                0
14              0                  0                1
15              1                  1                0
16              1                  1                0
17              0                  0                1
18              1                  0                1
19              0                  0                0
20              1                  0                0
21              0                  0                1
22              0                  0                1
23              1                  0                0
24              0                  0                0
25              1                  0                0
26              1                  1                0
27              1                  0                0
28              0                  1                0
29              1                  0                0
...           ...                ...              ...
9970            1                  0                0
9971            0                  0                0
9972            1                  0                0
9973            1                  0                0
9974            1                  0                0
9975            1                  1                0
9976            0                  0                0
9977            0                  0                0
9978            1                  0                0
9979            0                  0                0
9980            1                  0                1
9981            1                  1                0
9982            0                  1                0
9983            1                  0                0
9984            1                  1                0
9985            1                  0                0
9986            1                  1                0
9987            1                  0                1
9988            1                  0                0
9989            1                  0                1
9990            1                  1                0
9991            0                  0                0
9992            1                  0                1
9993            1                  0                0
9994            0                  0                0
9995            1                  0                0
9996            1                  0                0
9997            0                  0                0
9998            1                  1                0
9999            0                  0                0

[10000 rows x 3 columns]

In [ ]:
x.drop(df[['Gender','Geography']], axis=1, inplace=True)

In [ ]:
x=pd.concat([x,dummy], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
y_train.value_counts()

In [ ]:
6346/8000

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
model_lr = lr.fit(x_train,y_train)

In [ ]:
pred_lr = model_lr.predict(x_test)

In [ ]:
pred_lr

In [ ]:
y_test[:5]

In [ ]:
pd.crosstab(y_test,pred_lr)

In [ ]:
acc=(1584+15)/2000

In [ ]:
precision_lr = 15/(33+15)

In [ ]:
precision_lr

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtree = DecisionTreeClassifier(max_depth=5,min_samples_leaf=5,max_leaf_nodes=10)

In [ ]:
model = dtree.fit(x_train,y_train)

In [ ]:
pred_tree = model.predict(x_test)

In [ ]:
pd.crosstab(y_test,pred_tree)

In [ ]:
(1402+177)/2000

In [ ]:
177/(177+215)

In [ ]:
177/(206+177)

In [ ]:
#!pip install --user dtreeviz

In [ ]:
#!pip install --user dtreeplt

In [ ]:
(1554+161)/2000

In [ ]:
161/(161+63)