# General Purpose Programming Language

# Comprehensive, OOP, Structured Language, Interpreted

# Libraries

Networking/Socket programming/ Multi-threading --> Sockets, threads
Data Science & ML --> Numpy, Scipy, Pandas, Sklearn, Statsmodel
Deep Learning & AI --> Pytorch, Tensorflow
Web Development --> Django, Flask
Testing & Debugging --> Selenium, Pylint
Web crawling/scraping --> Beautiful soup, Scrapy
IOT --> Raspberry pie, ordinov
Blockchain/Robotics --> Blueprism, Automation anywhere 
Game development
Cyber security

In [ ]:
t = 28

In [ ]:
type(t)

In [ ]:
temp = "28c"

In [ ]:
type(temp)

In [ ]:
# LEGB rule

In [ ]:
# Late binding

In [ ]:
# Arithmatic operators

In [ ]:
17//4

In [ ]:
17/4

In [ ]:
2**3

In [ ]:
3<2

In [ ]:
3==3

In [ ]:
# Data structures

# Ordered data structures

Strings --> ""
Lists --> []
Tuples --> (,)

In [ ]:
s = "hello, welcome to the class"

In [ ]:
# Indices starts from 0 and end index is always exclusive

In [ ]:
len(s)

In [ ]:
s[0]

In [ ]:
s[26]

In [ ]:
s[-1]

In [ ]:
s[0:5]

In [ ]:
s[:5]

In [ ]:
s[7:]

In [ ]:
s.capitalize()

In [ ]:
help(s.capitalize)

In [ ]:
s[7:].capitalize()

In [ ]:
10+"hi"

In [ ]:
10*"-hi-"

In [ ]:
o = "i have an oringe"

In [ ]:
#immutable : TypeError: 'str' object does not support item assignment
o[12] = 'a'

In [ ]:
o[:12]+'a'+o[13:]

In [ ]:
dir(o)

In [ ]:
o.__dir__()

In [ ]:
# Lists

In [ ]:
l = [1,100,"hi","hello"]

In [ ]:
l.append([20,'oranges'])

In [ ]:
l.extend([100,'python'])

In [ ]:
l[4][1].capitalize()

In [ ]:
l[1] = 88

In [ ]:
t = 1,"oranges",20,'berries'

In [ ]:
type(t)

In [ ]:
# Immutable
t[1] = "banana"

In [ ]:
# un-ordered data structures

In [ ]:
d = {}

In [ ]:
d['ID'] = [1,2,3,4]

In [ ]:
d['Name'] = ['John','Sean','Monika','Ram']

In [ ]:
d['Salary'] = (2000,4000,6000,8000)

In [ ]:
from collections import OrderedDict

In [ ]:
help(OrderedDict)

In [ ]:
d['Name'][2]
d['Salary'][2]

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
for i,j in d.items():
    print(i,j[2])

In [ ]:
t1 = [(1,"blr"),(2,"mlr"),(3,"mys"),(4,"del")]

In [ ]:
for i in t1:
    print(i[1])

In [ ]:
s = {1,1,1,1,2,2,2,2,3,3,3,4,5,6,7,8}

In [ ]:
s1 = {1,2,3,4}

In [ ]:
s.issubset(s1)

In [ ]:
s.issuperset(s1)

In [ ]:
s.difference(s1)

In [ ]:
s|s1

In [ ]:
s&s1

In [ ]:
s|s1

In [ ]:
s.union(s1)

In [ ]:
s.difference_update(s1)

In [ ]:
# Conditions

In [ ]:
marks = 82

In [ ]:
if marks>35:
    print("You've passed")
else:
    print("Failed")

In [ ]:
if (marks>80):
    print("You've done an excellent job")
elif (marks>60) & (marks<80):
    print("Good job")
elif (marks>35) & (marks<60):
    print("Fair")
else:
    print("Sorry, try next time")

In [ ]:
'''Ask the user for a input, if the input is greater than zero, print positive, 
within that block check whether input is mulitples of 5,2 and print accordingly'''

In [ ]:
# break, continue, pass

In [ ]:
num = 0

for i in range(10):
    num+=1
    if num==5:
        #pass
        #break
        continue
    print("The number is", num)
print("out of the loop")

In [ ]:
for i in range(10):
    print(i*i, end = ' ')

In [ ]:
while num>0:
    print(num)
    num-=1
print("We are outside the loop")

In [ ]:
x = 88
# Ask the user for a input, guess the number till it is equal to x

In [ ]:
l = []
for i in range(10):
    l.append(i*i)

In [ ]:
[i*i for i in range(10) if i%2==0]

In [ ]:
def fn(team="blr"):
    print("Hi", team)

In [ ]:
fn('deloitte_engineers')

In [ ]:
fn()

In [ ]:
def sq(x):
    '''This function
    returns the square of a given number'''
    return x*x

In [ ]:
y = sq(8)

In [ ]:
type(y)

In [ ]:
# Write a function to return the number of upper and lower cases in the given string

s = "Good evening folks, welcome to the first Class in Deloitte, Bangalore"

In [ ]:
# Map, Filter, lambda, reduce, generator, iterators, decorators, enumerate, zip

In [ ]:
sq(100)

In [ ]:
list(map(sq,l))

In [ ]:
def odd(x):
    return x%2==0

In [ ]:
odd(8)

In [ ]:
odd(l)

In [ ]:
list(map(odd,l))

In [ ]:
list(filter(odd,l))

In [ ]:
# Write a function to implement the selection sort in python to return the sorted list

In [ ]:
max(l)

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y:x if (x>y) else y, l)

In [ ]:
reduce(lambda x,y:x+y,l)

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
# Scope of a variable

In [ ]:
# LEGB

In [ ]:
x = 100

def ex():
    global x
    print("The value of x is now:", x)
    x = 80
    print("The value of x is now changed to:", x)
x = 200

In [ ]:
x

In [ ]:
ex()

In [ ]:
x

# Exception Handling

Try
Except
Finally

In [ ]:
num = int(input("Please enter the amount to withdraw : "))
print("10 devided by {} is {}" .format(num,10/num))
print("Goodbye!")

In [ ]:
num = int(input("Please enter the amount to withdraw : "))
if num==0:
    print("Deviding by zero is not allowed")
else:
    print("10 devided by {} is {}" .format(num,10/num))
print("Goodbye!")

In [ ]:
try:
    num = 10/int(input("Please enter the amount to withdraw : "))
    #num=print("10 devided by {} is {}" .format(num,10/num))
except:
    print("Something went wrong")
print("Goodbye!")

In [ ]:
try:
    num= 100/int(input("Please enter a number : "))
except ValueError as ve:
          print("Please input a number", ve.args)
except ZeroDivisionError as ZD:
          print(ZD.args)
except:
    print("Something's wrong")
else:
    print(num)
print("Goodbye!")

In [ ]:
num = int(input("Please enter the amount to withdraw : "))

In [ ]:
# Modules & Packages

In [ ]:
import math

In [ ]:
math.sqrt(100)

In [ ]:
math.pow(2,4)

In [ ]:
from math import sqrt, pow, log, exp

In [ ]:
sqrt(64)

In [ ]:
from math import sqrt as sr, pow as pw, log as l, exp

In [ ]:
sr(64)

In [ ]:
import sys

In [ ]:
sys.__name__

In [ ]:
print(sys.__doc__)

In [ ]:
# Numpy & Pandas

In [ ]:
l = [1,2,3,4,'a']

In [ ]:
l1 = [10,20,30,40,50]

In [ ]:
l+l1

In [2]:
import numpy as np

In [ ]:
a1 = np.array(l)

In [ ]:
a2 = np.array(l1)

In [ ]:
a1

In [ ]:
type(a1)

In [ ]:
a1.shape

In [ ]:
a1+a2

In [ ]:
arr = np.array([1,4,8,2,5,3])

In [ ]:
arr.shape

In [ ]:
arr.reshape(2,3)

In [ ]:
np.array([10,20,40,60]).reshape(2,2)

In [ ]:
arr1 = np.array([[2,4,6],[1,2,3],[8,9,5],[10,20,15]]).reshape(3,4)

In [ ]:
arr1[0]

In [ ]:
arr1[0,1]

In [ ]:
arr1[:,1]

In [ ]:
arr1[:2,2]

In [ ]:
arr1[2:,[0,2]]

In [ ]:
arr1[[0,2],[0,2]]

In [ ]:
arr1[::2,::2]

In [ ]:
arr1[::2,[0,2]]

In [ ]:
arr1[0,0]

In [ ]:
arr1[[0,2],[0,3]]

In [ ]:
arr1.choose

In [ ]:
a=arr1.flatten()

In [ ]:
a[[0,11]]

In [ ]:
arr1.T

In [ ]:
np.arange(0,10)

In [ ]:
from numpy import random

In [ ]:
random.rand(2,4)

In [ ]:
random.randint(0,5,2)

In [ ]:
random.randn(5,10)

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(random.randn(10))

In [ ]:
np.hstack(arr1)

In [ ]:
np.vstack(arr1)

In [ ]:
np.delete

In [1]:
import pandas as pd

In [ ]:
# Pandas --> Data manipulation tool

# Series --> One dimensional
# Dataframes --> Combination of rows and columns

In [ ]:
s = pd.Series([1,2,'a',4,5], index=['a','b','c','d','e'])

In [ ]:
s

In [ ]:
s.shape

In [ ]:
s[4]

In [ ]:
s['b']

In [ ]:
s[:3]

In [ ]:
s[:'c']

In [ ]:
df1 = pd.DataFrame([[1,2,'a'],[4,5,'b']])

In [ ]:
df = pd.DataFrame(np.random.randn(3,4), columns=['apple','bam','cg','dell'], index=d)

In [ ]:
d = pd.date_range('20230122', periods=3, freq='M')

In [ ]:
d

In [ ]:
type(d)

In [ ]:
help(pd.date_range)

In [ ]:
df2 = pd.DataFrame({'Day':['Mon','Tue','Wed','Thu','Fri'],'Temp':[24,18,17,21,12],
                    'Rained':['No','Yes','yes','No','Yes']})

In [ ]:
df2

In [ ]:
type(df2['Temp'])

In [ ]:
df2.info()

In [ ]:
arr1

In [ ]:
arr1[[0,2],::2]

In [ ]:
# Indexing

[] --> Access columns by labels and rows by indices

loc --> Pure label based indexing

iloc --> Pure integer based indexing

./dot notation --> sql like

# IX IAT

In [ ]:
df2['Rained'][[0,3]]

In [ ]:
df2['Temp'][:3]

In [ ]:
df2[:3][['Day','Rained']]

In [ ]:
df.loc['2023-01-31'][['apple','cg']]

In [ ]:
df2.loc[[2,0]][:]

In [ ]:
df.loc['2023-01-31']

In [ ]:
df[:][:2]

In [ ]:
df.iloc[2,3]

In [ ]:
df2.iloc[4,[0,2]]

In [ ]:
df2.Day[:3]

In [ ]:
bank = pd.read_csv("D:/data/churn.csv")

In [ ]:
#pd.read_table

In [ ]:
bank.loc[:]['Age']

In [ ]:
bank['Age'][:3]

In [ ]:
bank.iloc[5,[10,3]]

In [ ]:
bank.shape

In [ ]:
bank.columns

In [ ]:
bank[:][["Geography",'Exited']][:5]

In [ ]:
bank.loc[:][["Geography",'Exited']][:5]

In [ ]:
df.loc['2023-04-30']['cg']

In [ ]:
bank.iloc[:,[3,12]]

In [ ]:
df.loc[:]['apple']

In [ ]:
df.loc[:,['apple','cg']]

In [ ]:
df.loc[:][['apple','cg']]

In [ ]:
df2['Cloudy'] = ['No','Yes','No','No','yes']

In [ ]:
# Axis is by default set to '0' (rows).
# Axis can be set to '1' to access columns

In [ ]:
df2.drop('Cloudy', axis=1, inplace=True)

In [ ]:
help(df2.drop)

In [ ]:
df2.insert(2,'Cloudy',['No','Yes','No','No','yes'])

In [ ]:
df2.loc[5]=['Sat',28,'Yes','No']

In [ ]:
arr1[arr1>10]

In [ ]:
df2[df2['Rained'].str.capitalize()=='Yes']

In [ ]:
df2[(df2['Rained']=='Yes') & (df2['Temp']>15)]

In [ ]:
df2[(df2['Rained']=='Yes') | (df2['Temp']>15)]

In [ ]:
df2['Rained'].unique()

In [ ]:
df2['Rained'].nunique()

In [ ]:
# Sort_index, Reset_index, Reindex, Ignore index

In [ ]:
df.sort_index(ascending=False)

In [ ]:
help(df.reindex)

In [ ]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

In [ ]:
df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
index=index)

In [ ]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10','Chrome']

In [ ]:
df.reindex(new_index)

In [ ]:
help(df.reset_index)

In [ ]:
df = pd.DataFrame([('bird', 389.0),('bird', 24.0),('mammal', 80.5),('mammal', np.nan)],
index=['falcon', 'parrot', 'lion', 'monkey'],
columns=('class', 'max_speed'))

In [ ]:
df.reset_index()

In [ ]:
df.reset_index(drop=True)

In [ ]:
index = pd.MultiIndex.from_tuples([('bird', 'falcon'),('bird', 'parrot'),('mammal', 'lion'),
('mammal', 'monkey')],names=['class', 'name'])

In [ ]:
columns = pd.MultiIndex.from_tuples([('speed', 'max'),('species', 'type')])

In [ ]:
df = pd.DataFrame([(389.0, 'fly'),( 24.0, 'fly'),( 80.5, 'run'),(np.nan, 'jump')],index=index,
columns=columns)

In [ ]:
df.reset_index()

In [ ]:
# Data Science Lifecycle

Data Engineering --> Collect, Store, process & manage data [RDBMS, DW, Big Data/Hadoop, Cloud]

Data Analytics --> Maths, Stats, domain knowledge [R, Python/Pandas, SQL, Excel, Pyspark, Hive]

Data Visualization/BI --> Reports, charts, ppts, dashboards [Tableau, PowerBI, Qlikview, Cognos]

Advanced Analytics -->  ML, DL

Solution Development

In [ ]:
# Exploratory Data Analytics
# Descriptive/summary statistics

# uni-variate analysis
# bi-variate analysis

In [3]:
df = pd.read_csv('D:/data/churn.csv')

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
# Measures of Central Tendency --> mean, median & mode

In [ ]:
df['CreditScore'].mean()

In [ ]:
df['CreditScore'].median()

In [ ]:
df['CreditScore'].mode()

In [ ]:
df['Geography'].mode()

In [ ]:
df['Geography'].unique()

In [ ]:
df['Geography'].value_counts()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['CreditScore'])

In [ ]:
# Measures of Dispersion --> range (min,max), variance, standard deviation, quartiles

In [ ]:
df['CreditScore'].min()

In [ ]:
df['CreditScore'].max()

In [ ]:
df['CreditScore'].var()

In [ ]:
df['CreditScore'].std()

In [ ]:
sns.boxplot(y=df['CreditScore'])

In [ ]:
df['CreditScore'][4] = 950

In [ ]:
df.boxplot('CreditScore')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.boxplot(df['CreditScore'])
plt.show()

In [ ]:
q1=df['CreditScore'].quantile(0.25)

In [ ]:
q3=df['CreditScore'].quantile(0.75)

In [ ]:
iqr = q3-q1

In [ ]:
up_w = q3+1.5*(iqr)

In [ ]:
lw = q1-1.5*(iqr)

In [ ]:
# Measures of Shape --> Skewness & Kurtosis

In [ ]:
df['CreditScore'].skew()

In [ ]:
# if Skewness is between -0.5 & +0.5 --> Fairly symmetrical
# Between -1 & 0.5 / 0.5 & 1 --> Moderately skewed
# <1 or >1 --> Highly skewed

In [ ]:
df['CreditScore'].kurt()

In [ ]:
df['Geography'].value_counts()

In [ ]:
round(df.describe(),2).T

In [ ]:
sns.boxplot(df['Geography'],df['CreditScore'])

In [ ]:
plt.scatter(df['EstimatedSalary'],df['CreditScore'])

In [ ]:
sns.countplot(df['Geography'], hue=df['Gender'])

In [ ]:
df['Gender'].value_counts()

In [ ]:
sns.boxplot(df['Geography'],df['EstimatedSalary'])

In [ ]:
sns.barplot('Geography','Exited',data=df)

In [ ]:
pd.crosstab(df['Geography'],df['Exited'])

In [ ]:
# groupby, merge/joins, concatenation

In [ ]:
df.groupby('Geography').mean()

In [10]:
grp=df[['Geography','Exited','CreditScore','Balance','EstimatedSalary']].groupby('Geography')

In [11]:
agg2=grp.mean()

In [ ]:
grp.std()

In [4]:
g=df[['Geography','Exited']].groupby('Geography')

In [12]:
agg2

             Exited  CreditScore        Balance  EstimatedSalary
Geography
France     0.161548   649.668329   62092.636516     99899.180814
Germany    0.324432   651.453567  119730.116134    101113.435102
Spain      0.166734   651.333872   61818.147763     99440.572281

In [ ]:
814/2509

In [9]:
df['Exited'].mean()

0.2037

In [ ]:
grp.describe().T

In [6]:
agg1=df.groupby('Geography').agg({'Exited':'count','CreditScore':['min','max','mean'],
                             'EstimatedSalary':['mean','std']})

In [7]:
agg1

          Exited CreditScore                  EstimatedSalary
           count         min  max        mean            mean           std
Geography
France      5014         350  850  649.668329    99899.180814  57336.289016
Germany     2509         350  850  651.453567   101113.435102  58263.011501
Spain       2477         350  850  651.333872    99440.572281  57103.678091

In [8]:
df.groupby('Geography').EstimatedSalary.agg(np.mean)

Geography
France      99899.180814
Germany    101113.435102
Spain       99440.572281
Name: EstimatedSalary, dtype: float64

In [ ]:
cars = pd.read_csv("D:/data/mtcars.csv")

In [ ]:
sns.boxplot(cars['cyl'],cars['mpg'])

In [ ]:
cars['cyl'].value_counts()

In [ ]:
plt.scatter(cars['hp'],cars['mpg'])
plt.xlabel('horsepower')
plt.ylabel('mileage')
plt.show()

In [ ]:
plt.scatter(cars['cyl'],cars['hp'])

In [ ]:
plt.scatter(cars['wt'],cars['cyl'])

In [ ]:
cars.corr().T

In [ ]:
plt.figure(figsize=(15,6))
sns.heatmap(cars.corr(), annot=True)

In [ ]:
sns.pairplot(cars)

In [ ]:
sns.boxplot(cars['vs'],cars['disp'])

In [ ]:
cars.groupby('vs').disp.mean()

In [ ]:
pd.concat([agg1,agg2], axis=1)

In [ ]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'bam', 'boom'],'value': [1, 2, 3, 5]})

In [ ]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'doo'],'value': [5, 6, 7, 8]})

In [ ]:
df2.columns = ['rkey','value']

In [ ]:
cols = ['value','rkey']
df2 = df2.reindex(columns=cols)

In [ ]:
df2.index

In [ ]:
help(pd.merge)

In [ ]:
# Inner join

In [ ]:
pd.merge(df1,df2,left_on='lkey',right_on='rkey', how='inner')

In [ ]:
pd.merge(df1,df2,left_on='lkey',right_on='rkey', how='outer')

In [ ]:
pd.merge(df1,df2,left_on='lkey',right_on='rkey', how='left')

In [ ]:
pd.merge(df1,df2,left_on='lkey',right_on='rkey', how='right')

In [ ]:
df3 = df2.rename(columns={'rkey':'lkey'})

In [ ]:
df3.index = ['a','b','c','d']

In [ ]:
df1.index = ['a','b','c','d']

In [ ]:
df4 = pd.concat([df1,df3], ignore_index=True)

In [ ]:
df4.stack()

In [ ]:
df4.T

In [ ]:
help(df.pivot)

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
'bar': ['A', 'B', 'C', 'A', 'B', 'C'],'baz': [1, 2, 3, 4, 5, 6],'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
help(df.pivot_table)

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo","bar", "bar", "bar", "bar"],
"B": ["one", "one", "one", "two", "two","one", "one", "two", "two"],"C": ["small", "large", "large", "small",
"small", "large", "small", "small","large"],"D": [1, 2, 2, 3, 3, 4, 5, 6, 7],"E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [ ]:
import numpy as np

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],columns=['C'], aggfunc='sum')

In [ ]:
# Data Cleaning

# Outliers, missing values, redundancy, special chars, formatting mismatch, negative values

In [ ]:
df = pd.DataFrame({'Age':[19,28,31,48,np.nan,53,np.nan,66],
                   'Height':[5.1,np.nan,4.9,np.nan,np.nan,5.8,np.nan,5.6],
                  'Gender':['M','M','F','M','F','F','M','F'],
                  'sal':[78,54,38,88,np.nan,43,'?','not known'],
                  'BP':[np.nan,132,144,-88,np.nan,153,111,128]})

In [ ]:
df['Age'].isna()

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
# Delete the rows which are missing

In [ ]:
df.dropna()

In [ ]:
# Delete the columns which has the missing values

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(axis=1, thresh=6)

In [ ]:
df.dropna(thresh=3)

In [ ]:
# Replace the missing values logically

In [ ]:
df['Height'].fillna(df['Height'].mean())

In [ ]:
def sq(x):
    return x*x

In [ ]:
df['Age'].apply(sq)

In [ ]:
plt.scatter(df['Age'],df['BP'])

In [ ]:
df.isna().sum()

In [ ]:
plt.scatter(df['Age'],df['sal'])

In [ ]:
df1 = pd.read_csv("D:/data/Regression.csv")

In [ ]:
df1.head()

In [ ]:
df1['Age'].mean()

In [ ]:
df1.groupby('Job Type').Age.mean()